.dayText {
    align-items: flex-start;
    width: 300px;
    margin: 0;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    height: 300px;
    width: 300px;
    border-radius: 3px;
}

.timeText {
    align-items: flex-start;
    width: 300px;
    margin: 0;
}