.container {
  padding: 0 2rem;
}

.main {
  min-height: calc(100vh - 80px);
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  height: 80px;
  flex: 1;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footerWrapper {
  display: flex;
  height: 100%;
}

.pFooter {
  font-family: "Nanum Pen Script", cursive;
  font-size: 26px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  /* font-family: 'Fuzzy Bubbles', cursive; */
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  margin-bottom: 20px;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 300px;
  height: 300px;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.image {
  height: 50px;
}

.imageFooter {
  height: 25px;
  margin: 0 5px;
}

.footerImageDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 100%;
  height: 1250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.colorBlock {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  margin: 5px;
  transition: 0.2s;
}

.colorBlock:hover {
  transform: scale(1.15);
  transition: 0.2s;
}

.text {
  color: silver;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 8px;
  text-align: center;
  margin: 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
}
